<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="atv.com.project.monkeylivetv" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="atv.com.project.monkeylivetv.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="atv.com.project.monkeylivetv.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name="atv.com.project.monkeylivetv.Application.MonkeyLive"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/MonkeyLiveTV"
        android:windowSoftInputMode="adjustResize">

        <meta-data android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider158215127912173"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <provider
            android:name="atv.com.project.monkeylivetv.Provider.MonkeyLiveSuggestionProvider"
            android:authorities="atv.com.project.monkeylivetv"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name="atv.com.project.monkeylivetv.Activity.StreamingActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="io.kickflip.sdk.activity.BroadcastActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"/>

        <activity
            android:name="atv.com.project.monkeylivetv.Activity.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="atv.com.project.monkeylivetv.Activity.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.MainActivity"
            android:parentActivityName="atv.com.project.monkeylivetv.Activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0c70227844740c5692cb7a88cc9f605817afc417" />

        <activity
            android:name="atv.com.project.monkeylivetv.Activity.TweetActivity"
            android:label="@string/title_activity_tweet"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name="atv.com.project.monkeylivetv.Activity.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <service
            android:name="atv.com.project.monkeylivetv.Services.FileUploadService"
            android:exported="false" />

        <receiver
            android:name="atv.com.project.monkeylivetv.Gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="atv.com.project.popkontv" />
            </intent-filter>
        </receiver>

        <service android:name="atv.com.project.monkeylivetv.Gcm.GcmIntentService" />

        <activity
            android:name="atv.com.project.monkeylivetv.Activity.GcmActivity"
            android:label="@string/title_activity_gcm" >
        </activity>
        <activity
            android:name="atv.com.project.monkeylivetv.Activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_user_profile" />
        <activity
            android:name="atv.com.project.monkeylivetv.Activity.UserDetailsListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_user_details_list" >
        </activity>
        <activity android:name="io.kickflip.sdk.activity.MediaPlayerActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="live" android:path="/" android:scheme="popkontv"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
